<div class="card text-center" style="width:200px">
  <div class="card-header">
    <strong><%= User.find(post.user_id).email %></strong>
    <blockquote class="blockquote mb-0">
      <%= post.text %>
    </blockquote>
  </div>
  <div class="card-body">
    <div id="<%= dom_id post %>">
      <% if post.image.persisted? %>Amazon one:
        <%= image_tag url_for(post.image), :height=>100 %>
      <% end %>

      <% if !post.images.nil? 
        post.images.each { |img| %><br>Amazon n:<br>
          <%= image_tag url_for(img), :height=>100 %>
        <% } %>
      <% end %>

      <% if ! post.avatar.url.nil? %> <br>CL uploader:
          <%= cl_image_tag post.avatar, :width=>150, :crop=>"fill" %>
      <% end %>
      
      <% if post.ava.persisted? %><br> Cl not uploader:
        <%= cl_image_tag post.ava.key, :width=>150 %>
      <% end %>
    </div>
  </div>
</div>