<div class="card text-center" style="width:200px">
  <div class="card-header">
    <strong><%= User.find(post.user_id).email %></strong>
    <blockquote class="blockquote mb-0">
      <%= post.text %>
    </blockquote>
  </div>
  <div class="card-body">
    <div id="<%= dom_id post %>">
      <% if post.image.attached? %>Amazon one:
        <%= image_tag url_for(post.image), :height=>100 %>
        <%= link_to '🔽', 
          rails_blob_path(post.image, disposition: "attachment") %>
      <% end %>

      <% if !post.images.nil? 
        post.images.each { |img| %><br>Amazon n:<br>
          <%= image_tag url_for(img), :height=>100 %>
          <%= link_to '🔽', 
            rails_blob_path(img, disposition: "attachment") %>
        <% } %>
      <% end %>

      <% if !post.avatar.nil? %> <br>CL uploader:
          <%= cl_image_tag post.avatar, :width=>150, :crop=>"fill" %>
          <%#= link_to("Download", cl_private_download_url(post.avatar.filename, 
            post.avatar.format, :attachment => true)) %>

      <% end %>
      
      <% if post.ava.persisted? %><br> Cl not uploader:
        <%= cl_image_tag post.ava.key, :width=>150 %>
    
        <%#= link_to("Signed Download", cl_signed_download_url(post.ava,:attachment => true)) %>
        <%#= link_to("Download", cl_private_download_url(post.ava, 
        post.ava.record.avatar.file.format.to_sym,:attachment => true)) %>
      <% end %>
    </div>
  </div>
</div>