<p style="color: green"><%= notice %></p>

<div class="card text-center" style="width:250px">
  <div class="card-body">
  <%= render @post %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-outline-warning mr-2" %>
    <%= link_to "Back to posts", posts_path, class: "btn btn-outline-primary mr-2" %>

    <%= button_to "Delete", @post, method: :delete, class: "btn btn-outline-danger mr-2" %>
  </div>
</div>
